/* *{
  margin:0;
  padding:0;
  box-sizing: border-box;
} */

.costom_scroll::-webkit-scrollbar{
  height: 5px;
  width: 5px;

}
.costom_scroll::-webkit-scrollbar-track{
  background-color:transparent;
}

.costom_scroll::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.14);
}
.costom_scroll::-webkit-scrollbar-thumb:hover{
  background-color: grey;
}

.app {
  --bg-color-2: #9db3ed;
  --bg-color-1: #bac9d3;
  --text-color-1: #0b1537;
  --text-color-2: #636363;
  width: auto;
  height: auto;
}

.app[data-theme="dark"] {
  --bg-color-1: #3a3a3a;
  --bg-color-2: #1a1a1a;
  --text-color-1: #f0f0f0;
  --text-color-2: #999999;
}


.app {
  background-color:black ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_calculator{
  background-color: var(--bg-color-1);
  height: 450px;
  width: 250px;
  border-radius: 30px;
  box-shadow: 15px 15px 20px 8px rgba(166, 211, 6, 0.3) , rgba(200, 184, 7, 0.3) ;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app_calculator_navbar{
  position: absolute;
  overflow: hidden;
  top:0;
  left: 0;
  background-color: transparent;
  min-height: 25px;
  padding: 10px;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 10px;
}
.app_calculator_navbar img{
  height: 30px;
  width: 30px;

}
.app_calculator_navbar_toggle{
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 40px 80px rgba(0,0,0,0.14)

}
.app_calculator_navbar_toggle_circle{
  height: 15px ;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  transition: 300ms;
}


.app_calculator_navbar_toggle_circle_active{
  margin-left: 15px;
}

@media screen and (max-width:480px){

  .app{
    width: auto;
    height: fit-content;
  }
  .app_calculator{

  }
}